html,body {
    height: 100%;
}

#__next {
    height: 100%;
}

.all {
    height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    justify-content: center;
    align-items: "center";
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: white;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    color: white;
}

h1 {
    font-weight: bolder;
}

.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 85%;
}

.right {
    width: 40%;
    height: 100%;
}

.left {
    width: 40%;
    height: 100%;
}

.table {
    margin: 10px;
    background-color: rgba(255, 166, 0, 0.3);
}

.rank {
    color: white;
    font-size: 24px;
}

.status {
    margin: 10px;
    color: white;
}

.info {
    margin: 10px;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    border: white 5px solid;
    background-color: rgba(255, 166, 0, 0.3);
}